.vs/
build/
out/
external/
resources/
install/
data/*
!data/settings.txt
!data/imgui.ini

!data/musics
data/musics/*
!data/musics/info.txt

!data/orc
data/orc/*
!data/orc/info.txt

!data/orc_death
data/orc_death/*
!data/orc_death/info.txt 

!data/orc_hurt
data/orc_hurt/*
!data/orc_hurt/info.txt 

!data/orc_mad
data/orc_mad/*
!data/orc_mad/info.txt 

!data/timer
data/timer/*
!data/timer/info.txt 

*.rdbg